html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.45;
  color: #0F0F0F;
  letter-spacing: 1px; 
}

body.show-menu {
    
  & > .wrapper {
    filter: blur(15px);

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      background: linear-gradient(180deg, #38338F 67.19%, #9A268D 100%);
    }
  }

  & .menu-wrapper {
    top: 0%;
  }

  & .menu {
    pointer-events: all;
  }

  & .site-header {
    position: fixed;
    width: 100%;
    background: transparent;
  }
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  line-height: 1.17;
  text-transform: lowercase;
}

h2 {
  margin-bottom: 80px;
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  color: #0F1326;
  text-transform: lowercase;
  text-align: center;

  @media(max-width: 768px) {
    margin-bottom: 25px;
    margin-left: 20px;
    text-align: left;
    font-size: 32px;
  }
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  text-transform: lowercase;
}

hr {
  margin: 34px 0;
  width: 55px;
  height: 3px;
  background-color: #181818;
  border: 0;
}

a:not([class]) {
  color: #9A268D;
  border-bottom: 1px solid;
  transition: color 0.3s;

  &:hover {
    color: #38338F;
  }
}

.container {
    padding: 0 25px;
    margin: 0 auto;    
    max-width: 1350px;

    &--concept {
      max-width: 890px;
    }

    @media(max-width: 768px) {
      padding: 0 60px;
      max-width: 780px;
    }
}

.btn {
  padding: 16px;
  margin: auto;
  display: block;
  width: 200px;  
  background-color: #9A268D;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  border: 0;
  outline: none;
  text-transform: lowercase;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s;

  &::after {
    content: '';
    margin: 8px auto 0;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #fff;
  }

  &:hover {
    background-color: #38338F;
  }
}

.m-section {
  padding: 60px 0;

  @media(max-width: 768px) {
    padding: 30px 0;
  }
}

.site-header {  
  position: relative;
  max-height: 100px;  
  background: linear-gradient(180deg, #38338F 67.19%, #9A268D 100%);
  z-index: 100;

    &--main {
      position: absolute;
      width: 100%;
      background: transparent;
    }

   @media(max-width: 768px) {
     max-height: 70px;
   } 
}

.logo {
  display: block; 
  
  @media(max-width: 900px) {
    width: 150px;
  }
}

.main-nav {
  position: relative;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;  
}

.flex-center {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/***************** ***************/
.menu-btn {
  position: relative;
  margin-top: 30px;
  width: 40px;
  height: 40px;            
  background: transparent;
  border: 0;            
  outline: 0;
  cursor: pointer; 
  transition: opacity 0.3s;
  
  &:hover {
    opacity: 0.7;
  }

  &.active .burger {
    background-color: transparent;
  }

  &.active .burger::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &.active .burger::before {
    top: 0;
    transform: rotate(45deg);
  }

  @media(max-width: 768px) {
    margin-top: 14px;
  } 
}

.burger, .burger::after, .burger::before  {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all .3s;          
}

.burger::after {
  content: '';
  top: -10px;
}

.burger::before {
  content: '';
  top: 10px;
}

.show-xs {
  display: none;

  @media(max-width: 900px) {
    display: block;
  }
}

.hidden {
  visibility: hidden;
}

/***************** ***************/

.pagination {
  margin-bottom: 90px;

  &__list {
    display: flex;
    align-items: center;   
  }

  &__item {
    margin-right: 20px;
    font-size: 25px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #3A338F;     
    color: #3A338F;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #38338F;
      color: #fff;
    }

    &.current {
      background: linear-gradient(180deg, #38338F 0%, #9A268D 100%);
      color: #fff;
      border: 1px solid #C4C4C4;
    }
  }
}

.menu-wrapper {
  position: fixed;
  top: -100%;
  lefT: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0, 0.5);  
  z-index: 99;
  transition: top 0.5s; 
  
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.menu {
  margin-top: 10%;
  display: flex;
  flex-flow: column wrap;
  max-height: 70%;
  min-height: 450px;
  width: 100%;
  pointer-events: none;

  a {
    color: #fff;
    text-transform: lowercase;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: #fff;
    }
  } 

  &__item {
    position: relative;
    margin-bottom: 60px;
    font-size: 38px; 
    
    @media (max-width: 900px) {
      position: initial;
      margin-bottom: 45px;
      font-size: 36px;
    }
  }

  &__link {    
    padding: 10px 15px;      
    font-family: 'Raleway', sans-serif;    

    &:hover {      
      background-color: #9A268D;
    }
  }

  &__sub {
    margin-top: 10px;
    line-height: 1.3;

    a {
      padding: 7px 12px;     
      font-size:0.65em; 
      border: 0;
      
      &:hover {
        background-color: #38338F;
      }

      @media(max-width: 768px) {
        font-size: 0.55em;
      }
    }

    @media(max-width: 768px) {
      text-align: center;
    }
  }

  &__back {
    position: absolute;
    left: -60px;
    top: 5%;
    width: 35px;
    height: 35px;
    background: linear-gradient(180deg, #38338F 0%, #9A268D 100%);
    border: 0;
    outline: 0;

    &::after,
    &::before {
      position: absolute;
      left: 50%;
      content: '';
      display: block;
      width: 1px;
      height: 50px;
      background-color: #fff;;
    }

    &::before {
      top: -60px
    }

    &::after {
      bottom: -60px
    }
  }

  .submenu {
    &.show-sub {
      top: 0;
      opacity: 1;
      pointer-events: all;
    }

    .first-link {
      margin-bottom: 10px;
      display: block;
      font-size: 26px;
      font-family: 'Raleway', sans-serif;
    }

    @media (max-width: 900px) {
      position: absolute;
      top: 100%;      
      opacity: 0;
      pointer-events: none;
      transition: top 0.3s, opacity 0.4s;
    }
  }
  
  @media(max-width: 900px) {
    position: relative;
    max-height: 100%;
    align-items: center;
  }
}

.top {
  position: relative;
  padding: 85px 0;  
  background-image: url('/images/top_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 19, 38, 0.85);
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    z-index: 2;

    h1 {
      @media (max-width: 768px) {
        font-size: 32px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 49px 0;
  }
}

.breadcrumbs {
  position: absolute;
  right: 6%;
  top: 130%;
  display: flex;
  align-items: center;
  font-size: 25px;
  text-transform: lowercase;

  &__item {
    margin: 0 15px;
  }

  &__link {
    color: #fff;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    top: 100%;
  }
}

.promo {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(180deg, #38338F 0%, #9A268D 50%, #0F1326 50%, #0F1326 100%);


  &__wrapper {   
    background: linear-gradient(90deg, #39338F 5%, rgba(57, 50, 143, 0.8) 50%), url('/images/promo_bg.png'); 
    padding: 0 115px;
    height: 700px;
    display: flex;
    align-items: center;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.238253); 
    color: #fff;
    font-size: 20px; 
    background-size: cover;
    
    @media (max-width: 768px) {
      font-size: 16px;
      height: 300px;
    }
  }

  &__title {
    max-width: 700px;
    font-size: 3.6em;
    text-transform: none;

    &:after {
      margin: 45px 0;
      content: '';
      display: block;
      width: 30%;
      height: 3px;
      background-color: #fff;

      @media (max-width: 768px) {
        margin: 20px 0;
      }
    }

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__text {
    padding-right: 15px;
    max-width: 440px;
  }

  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 108px;
    height: 100px;
    background: linear-gradient(180deg, #38338F 0%, #9A268D 100%);
    outline: 0;
    border: 0;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &::after,
    &::before {
      position: absolute;
      top: 47%;
      content: '';
      display: block;
      width: 100%;
      background-color: #fff;
      height: 3px;      
    }

    &::after {
      left: -130%;
    }

    &::before {
      right: -130%;
    }

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }

  @media(max-width: 768px) {
    padding: 80px 0;
  }
}

.main-about {
  padding: 170px 0 60px;

  .row {
    align-items: center;
  }

  .img {
    grid-area: img;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 1fr auto; 
    grid-gap: 30px;

    grid-template-areas:
    "img right"    
    "img down";  
  }

  &__down {
    grid-area: down;
  }

  &__right {
    grid-area: right;
  }
  
  &__title {
    margin-bottom: 20px;
    text-align: left;

    @media(max-width: 768px) {
      font-size: 32px;
    }
  }

  &__text {
    margin-bottom: 35px;
    max-width: 475px;
  }

  &__list {
    margin-left: -22px;
    display: flex;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      margin: 0 20px;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #38338F;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }

  &__link {
    padding: 11px 22px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;    
    color: #38338F;
    text-align: center;
    transition: all 0.3s;

    

    &:hover {      
      color: #fff;
      background-color: #38338F;
    }
  }

  @media(max-width: 768px) {
    padding: 80px 0 60px;
  }
}

.main-numbers {

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;

    h3 {      
      color: #524C9D;
      line-height: 1;

      @media(max-width: 768px) {
        font-size: 26px;
      }
    }
  }

  &__num {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5em;
    font-family: 'Raleway', serif;
    color: #fff;
    background: linear-gradient(180deg, #38338F 0%, #9A268D 100%);

    @media(max-width: 1024px) {
      width: 125px;
      height: 125px;
      font-size: 56px;
    }

    @media(max-width: 768px) {
      width: 80px;
      height: 80px;
      font-size: 32px;
    }
  }

  &__description {
    margin-top: -50px;
    margin-left: 35%;    
    width: 305px;   
    
    @media(max-width: 1024px) {
     margin-top: 0;
    }

    @media(max-width: 768px) {
      margin-top: 15px;
      margin-left: 0;
     }
  }
}


.inner-page {
  padding: 110px 0 40px;

  h1 {
    margin-bottom: 45px;
  }
  
  // p:not([class]) {
  //   margin-bottom: 40px;

  //   &:last-of-type {
  //     margin-bottom: 70px;
  //   }
  // }

  .img {
    margin-bottom: 90px;
    width: 98%;
  }

  @media(max-width: 768px) {
    padding: 60px 0 30px;
  }
}


.news {

  &:last-of-type {
    margin-bottom: 80px;

    @media(max-width: 768px) {
      margin-bottom: 50px;
    }
  } 

  &__img {
    filter: grayscale(1);
    transition: filter 0.3s;

    img {
      width: 100%;
    }    
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 0px 0px 15px #0F0F0F;

      .news__img {
        filter: grayscale(0);
      }
    }
  }

  &__description {
    padding: 30px 82px 38px 20px;
    min-height: 325px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #9A268D 0%, #38338F 100%);

    @media(max-width: 1024px) {
      padding: 20px 14px 38px 14px;
    }

    @media(max-width: 768px) {      
      min-height: auto;
    }

   
  }

  &__title {    
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 2.1em;
    text-transform: none;

    @media(max-width: 1024px) {
      font-size: 1.7em;
      line-height: 40px;
    }

    @media(max-width: 768px) {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 32px;
    }
  }

  &__date {
    margin-top: auto;
    font-size: 1.3em;

    @media(max-width: 768px) {
      font-size: 18px;      
    }
  }
}

.press {
  max-height: 620px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 65px;  
    margin-right: 20px;  
    width: 47%;
    font-size: 38px;
    line-height: 1.2;

    @media(max-width: 768px) {
      width: 45%;
    }
  }
  
  &__link {   
    margin-bottom: 20px;    
    display: block;
    color: #0F1326;
    transition: color 0.3s;

    @media(max-width: 768px) {
      font-size: 22px;
    }

    &:hover {
      color: #38338F;
    }
  }

  &__date {
    font-size: 0.65em;
  }
}

.preview {  
  margin-bottom: 60px; 
  
  &__item {
    margin-bottom: 40px;
    display: flex;
    max-width: 860px;

    .wrap {
      display: flex;
      justify-content: space-between;

      @media(max-width: 768px) {      
        flex-direction: column;
      }
    }

    @media(min-width: 769px) { 
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    

    &:hover {

      .preview__img {
        filter: grayscale(0);
      }
    }

    @media(max-width: 768px) {
      margin-right: 20px;
      margin-bottom: 60px;
      width: 48%;
      flex-direction: column;
      font-size: 16px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &__img {
    margin-right: 20px;
    flex-basis: 61%;
    max-width: 310px;    
    filter: grayscale(1);
    transition: filter 0.3s;

    @media(max-width: 768px) {
      margin-right: 0;
      flex-basis: auto;
    }
  }

  &__right {
    width: 100%;

    @media(max-width: 768px) {
      padding: 10px;
      height: 100%;
      display: flex;
      flex-direction: column;      
    }
  }

  &__title {
    height: 140px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 38px;
    text-transform: none;

    @media(max-width: 768px) {
      margin-bottom: 10px;
      height: auto;
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__location {
    @media(max-width: 768px) { 
      margin-top: auto;
    }
  }

  &__date {
    font-size: 25px;

    @media(max-width: 768px) { 
      margin-bottom: 28px;     
      font-size: 18px;
    }
  }

  &__link {
    font-size: 15px;
    font-weight: bold;
    color: #9A268D;
    text-align: center;
    transition: color 0.3s;
    
    &::after {
      content: '';
      display: block;
      margin: 6px auto 0;
      width: 50px;
      height: 3px;
      background-color: #9A268D;
      transition: background-color 0.3s;
    }

    &:hover {
      color: #38338F;

      &::after {
        background-color: #38338F;
      }
    }
  }

  @media(max-width: 768px) {
    display:  flex;
    flex-wrap: wrap;
    max-width: 640px;
  }
}

.site-footer {
  padding: 40px 0;  
  margin: 80px auto 0;
  max-width: 1080px;
  border-top: 1px solid #9A268D;
  text-align: center;

}

.img {
  position: relative;
  display: inline-block;
  
  img {
    position: relative;
    padding: 6% 0 0 6%;
    z-index: 2;
  }
  
  &::before {
    position: absolute;   
    content: '';
    display: block;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 15px;
    border-image-source: linear-gradient(180deg, #38338f 0%, #99268d 60%);
    width: 50%;
    height: 75%;
    z-index: 1;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  }

  &--down_right {

    img {
      padding: 0 7% 7% 0;
    }

    &::before {      
      bottom: 0;
      right: 0;
    }
  }
}

.signup {
  padding: 44px 110px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  background: linear-gradient(90deg, #39338F 5%, rgba(57, 50, 143, 0.8) 50%), url('/images/signup_bg.png');
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);


  &__title {
    font-size: 72px;
    line-height: 1.18;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    flex: 1;

    @media (max-width: 1024px) {
      font-size: 55px;
    }

    @media (max-width: 768px) {
      font-size: 49px;
      margin-bottom: 45px;
    }
  }

  &__form {
    display: flex;
    flex: 1; 
    
    @media (max-width: 430px) {
      flex-wrap: wrap;
    }
  }

  &__btn {    
    width: 200px;
    background: linear-gradient(180deg, #38338F 0%, #9A268D 100%);
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;    

    &:hover {
      background: #38338F;
    }

    @media (max-width: 768px) {
      width: 115px;
    }

    @media (max-width: 430px) {
      margin:auto;
      height: 43px;
    }
  }

  &__input {    
    width: 100%;
    max-width: 330px;
    padding: 9px 26px;
    font-size: 15px;
    color: #0F1326;

    &::placeholder {      
      color: #C4C4C4;
    }

    @media (max-width: 768px) {
      max-width: 220px;
    }

    @media (max-width: 430px) {
      margin-bottom: 40px;
      max-width: 100%;
    }
  }

  @media (max-width: 1024px) {
    padding: 44px 26px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}


.organization { 

  &__item {

    &:hover {
      .organization__img img{
        filter: grayscale(0);
      }
    }
  }

  &__img {
    max-width: 310px;
    min-height: 225px;
    display: flex;
    align-items: center;
    border: 1px solid #C4C4C4;
    
    img {
      filter: grayscale(1);
      transition: filter 0.3s;
    }
  }  

  &__title {
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 1.2;

    @media (max-width: 768px) {
      padding-right: 50px;
    }
  }

  &__nation {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    font-size: 25px; 
    line-height: 1;
    
    img {
      margin-left: 7px;
    }
  }

  &__link {
    color: #9A268D;
    transition: color 0.3s;

    &:hover {
      color: #38338F;
    }
  }
}

.gallery {
  margin-bottom: 25px;

  &__item {
    position: relative;
  }

  &__item.col {
    margin-bottom: 80px;
  }

  &__link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    z-index: 9;
  }

  &__img {
    display: block;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s;
    }   
    
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.carousel {
  position: relative;

  .owl-nav {
    position: absolute;
    top: 50%;
    lefT: 0;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: space-between;
  }

  .owl-prev,
  .owl-next {
    width: 108px;
    height: 100px;
    outline: 0;
    background: linear-gradient(180deg, #38338F 0%, #9A268D 100%)!important;
    outline: 0;
    border: 0;

    &:hover {
      background: #38338F!important;
    }   
  }

  .owl-prev {
    margin-left: -50px;
  }

  .owl-next {
    margin-right: -50px;
  }
}

$mr: 20px;

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$mr});
  margin-left: -$mr/2;
  margin-right: -$mr/2;

  &--2 {
    & > .col {
      width: 50%;     
    }
  }

  &--3 {
    & > .col {
      width: 33.33%;

      @media(max-width: 768px) {
        width: 50%
      }
    }
  }

  &--4 {
    & > .col {
      width: 25%;

      @media(max-width: 1024px) {
        width: 33.33%
      }

      @media(max-width: 768px) {
        width: 50%
      }
    }
  }

  &--6 {
    & > .col {
      width: 16.66%;
    }
  }
}

.col {
  padding: 0 $mr/2;
  margin-bottom: 20px;
}

.center {  
  text-align: center;
}