html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.45;
  color: #0F0F0F;
  letter-spacing: 1px;
}

body.show-menu > .wrapper {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

body.show-menu .menu-wrapper {
  top: 0%;
}

body.show-menu .site-header {
  position: fixed;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  line-height: 1.17;
  text-transform: lowercase;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  color: #0F1326;
  text-transform: lowercase;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  text-transform: lowercase;
}

hr {
  margin: 34px 0;
  width: 55px;
  height: 3px;
  background-color: #181818;
  border: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1330px;
}

.btn {
  padding: 16px;
  margin: auto;
  display: block;
  width: 200px;
  background-color: #9A268D;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  border: 0;
  outline: none;
  text-transform: lowercase;
  text-align: center;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn::after {
  content: '';
  margin: 8px auto 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

.btn:hover {
  background-color: #38338F;
}

.m-section {
  padding: 60px 0;
}

.m-section h2 {
  margin-bottom: 70px;
  text-align: center;
}

.site-header {
  max-height: 140px;
  background: -webkit-gradient(linear, left top, left bottom, from(#38338F), color-stop(50%, #9A268D), color-stop(50%, #0F1326), to(#0F1326));
  background: linear-gradient(180deg, #38338F 0%, #9A268D 50%, #0F1326 50%, #0F1326 100%);
  z-index: 100;
}

.site-header--main {
  position: absolute;
  width: 100%;
  background: transparent;
}

.logo {
  display: block;
}

.main-nav {
  position: relative;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/***************** ***************/
.menu-btn {
  position: relative;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu-btn:hover {
  opacity: 0.7;
}

.menu-btn.active .burger {
  background-color: transparent;
}

.menu-btn.active .burger::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-btn.active .burger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger, .burger::after, .burger::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.burger::after {
  content: '';
  top: -10px;
}

.burger::before {
  content: '';
  top: 10px;
}

/***************** ***************/
.menu-wrapper {
  position: fixed;
  top: -100%;
  lefT: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.menu-wrapper .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 70%;
  width: 100%;
}

.menu a {
  color: #fff;
  text-transform: lowercase;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.menu a:hover {
  color: #fff;
}

.menu__item {
  margin-bottom: 60px;
  font-size: 38px;
}

.menu__link {
  padding: 10px 15px;
  font-family: 'Raleway', sans-serif;
}

.menu__link:hover {
  background-color: #9A268D;
}

.menu__sub {
  margin-top: 10px;
  line-height: 1.3;
}

.menu__sub a {
  padding: 7px 12px;
  font-size: 0.65em;
}

.menu__sub a:hover {
  background-color: #38338F;
}

.promo {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#38338F), color-stop(50%, #9A268D), color-stop(50%, #0F1326), to(#0F1326));
  background: linear-gradient(180deg, #38338F 0%, #9A268D 50%, #0F1326 50%, #0F1326 100%);
}

.promo__wrapper {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #39338F), color-stop(50%, rgba(57, 50, 143, 0.8))), url("/images/promo_bg.png");
  background: linear-gradient(90deg, #39338F 5%, rgba(57, 50, 143, 0.8) 50%), url("/images/promo_bg.png");
  padding: 0 115px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.238253);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.238253);
  color: #fff;
  font-size: 20px;
}

.promo__title {
  max-width: 700px;
  font-size: 3.6em;
  text-transform: none;
}

.promo__title:after {
  margin: 45px 0;
  content: '';
  display: block;
  width: 30%;
  height: 3px;
  background-color: #fff;
}

.promo__text {
  padding-right: 15px;
  max-width: 440px;
}

.promo__arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 108px;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#38338F), to(#9A268D));
  background: linear-gradient(180deg, #38338F 0%, #9A268D 100%);
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.promo__arrow::after, .promo__arrow::before {
  position: absolute;
  top: 47%;
  content: '';
  display: block;
  width: 100%;
  background-color: #fff;
  height: 3px;
}

.promo__arrow::after {
  left: -130%;
}

.promo__arrow::before {
  right: -130%;
}

.main-about {
  padding: 170px 0 60px;
}

.main-about__title {
  margin-bottom: 20px;
}

.main-about__text {
  margin-bottom: 35px;
  max-width: 475px;
}

.main-about__list {
  margin-left: -22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-about__item::after {
  content: '';
  margin: 0 20px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #38338F;
}

.main-about__item:last-of-type:after {
  display: none;
}

.main-about__link {
  padding: 11px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #38338F;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-about__link:hover {
  color: #fff;
  background-color: #38338F;
}

.main-numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-numbers__num {
  margin-right: 20px;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4.5em;
  font-family: 'Raleway', serif;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#38338F), to(#9A268D));
  background: linear-gradient(180deg, #38338F 0%, #9A268D 100%);
}

.main-numbers__description {
  margin-top: 12%;
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}

.main-numbers__description h3 {
  margin-bottom: 20px;
  color: #524C9D;
  line-height: 1;
}

.news__img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.news__img img {
  width: 100%;
}

.news__link {
  display: block;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news__link:hover {
  -webkit-box-shadow: 0px 0px 0px 15px #0F0F0F;
          box-shadow: 0px 0px 0px 15px #0F0F0F;
}

.news__link:hover .news__img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.news__description {
  padding: 30px 72px 38px 30px;
  min-height: 325px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#9A268D), to(#38338F));
  background: linear-gradient(180deg, #9A268D 0%, #38338F 100%);
}

.news__title {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 2.1em;
  text-transform: none;
}

.news__date {
  margin-top: auto;
  font-size: 1.3em;
}

.press {
  max-height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.press__item {
  margin-bottom: 65px;
  margin-right: 20px;
  width: 47%;
  font-size: 38px;
  line-height: 1.2;
}

.press__link {
  margin-bottom: 20px;
  display: block;
  color: #0F1326;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.press__link:hover {
  color: #38338F;
}

.press__date {
  font-size: 0.65em;
}

.site-footer {
  padding: 40px 0;
  margin: auto;
  max-width: 1080px;
  border-top: 1px solid #9A268D;
  text-align: center;
}

.img {
  position: relative;
  display: inline-block;
}

.img img {
  position: relative;
  padding: 6% 0 0 6%;
  z-index: 2;
}

.img::before {
  position: absolute;
  content: '';
  display: block;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 15px;
  border-image-source: linear-gradient(180deg, #38338f 0%, #99268d 60%);
  width: 50%;
  height: 75%;
  z-index: 1;
}

.img--down_right img {
  padding: 0 7% 7% 0;
}

.img--down_right::before {
  bottom: 0;
  right: 0;
}

.grid .item {
  height: 100px;
  background-color: #ccc;
  outline: 1px solid black;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
}

.row--2 > .col {
  width: 50%;
}

.row--3 > .col {
  width: 33.33%;
}

.row--4 > .col {
  width: 25%;
}

.row--6 > .col {
  width: 16.66%;
}

.col {
  padding: 0 10px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */