html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    padding: 0 20px;
    margin: 0 auto;    
    max-width: 1340px;

    // outline: 3px dashed blue;
}

.header {
    color: #ccc;

    &--main {
        //min-height: 500px;
        //background: linear-gradient(180deg, rgba(62,57,128,1) 0%, rgba(25,138,36,1) 50%, rgba(15,11,46,1) 50%, rgba(15,11,46,1) 100%);
    }
}

.logo {
    display: block;
    width: 150px;
    height: 100px;
    background-color: #ccc;
}

.nav {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo {
    

    &__wrapper {
        margin: auto;
        max-width: 800px;
    }
}

.main-text {
  padding: 50px 0;  
}

.img {
  position: relative;
  display: inline-block;
  
  img {
    position: relative;
    padding: 7% 0 0 7%;
    z-index: 2;
  }
  
  &::before {
    position: absolute;   
    content: '';
    display: block;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 15px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    width: 40%;
    height: 80%;
    z-index: 1;
  }

  &--down_right {

    img {
      padding: 0 7% 7% 0;
    }

    &::before {      
      bottom: 0;
      right: 0;
    }
  }
}

.grid {
  .item {
    height: 100px;
    background-color: #ccc; 
    outline: 1px solid black;
  }
}


$mr: 24px;

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$mr});
  margin-left: -$mr/2;
  margin-right: -$mr/2;
  align-items: center;

  &--2 {
    & > .col {
      width: 50%;     
    }
  }

  &--3 {
    & > .col {
      width: 33.33%;
    }
  }

  &--4 {
    & > .col {
      width: 25%;
    }
  }

  &--6 {
    & > .col {
      width: 16.66%;
    }
  }
}

.col {
  padding: 0 $mr/2;
  margin-bottom: 10px;
}